<!DOCTYPE html>
<html>
<head>
  <title>VolosGeist</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body>
<%= yield %>
</body>
<script>
    function initialize() {
        var volosCenter= new google.maps.LatLng(39.359095, 22.949633);
        var mapOptions = {
            zoom: 14,
            center: volosCenter
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var volosarea1 = [new google.maps.LatLng(39.356839, 22.918345), new google.maps.LatLng(39.359556, 22.923292),new google.maps.LatLng(39.356261, 22.927246),new google.maps.LatLng(39.350949, 22.924181),new google.maps.LatLng(39.346486, 22.931048),new google.maps.LatLng(39.344961, 22.930838),new google.maps.LatLng(39.344693, 22.922121),new google.maps.LatLng(39.344693, 22.918345),new google.maps.LatLng(39.356839, 22.918345)]
        polyvolosarea1 = new google.maps.Polygon({ paths: volosarea1, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea1.setMap(map);
        var volosarea2 = [new google.maps.LatLng(39.359556, 22.923292), new google.maps.LatLng(39.367623, 22.918731),new google.maps.LatLng(39.371206, 22.920276),new google.maps.LatLng(39.368850, 22.933751),new google.maps.LatLng(39.366146, 22.931284),new google.maps.LatLng(39.363193, 22.930983),new google.maps.LatLng(39.358417, 22.932996),new google.maps.LatLng(39.356261, 22.927246),new google.maps.LatLng(39.359556, 22.923292)]
        polyvolosarea2 = new google.maps.Polygon({ paths: volosarea2, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea2.setMap(map);
        var volosarea3 = [new google.maps.LatLng(39.368850, 22.933751), new google.maps.LatLng(39.366146, 22.931284),new google.maps.LatLng(39.363193, 22.930983),new google.maps.LatLng(39.358417, 22.932996),new google.maps.LatLng(39.360691, 22.939063),new google.maps.LatLng(39.367192, 22.935811),new google.maps.LatLng(39.368850, 22.933751)]
        polyvolosarea3 = new google.maps.Polygon({ paths: volosarea3, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea3.setMap(map);
        var volosarea4 = [new google.maps.LatLng(39.368850, 22.933751), new google.maps.LatLng(39.375347, 22.945831),new google.maps.LatLng(39.370144, 22.954158),new google.maps.LatLng(39.366627, 22.950639),new google.maps.LatLng(39.370443, 22.943708),new google.maps.LatLng(39.367192, 22.935811),new google.maps.LatLng(39.368850, 22.933751)]
        polyvolosarea4 = new google.maps.Polygon({ paths: volosarea4, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea4.setMap(map);
        var volosarea5 = [new google.maps.LatLng(39.375347, 22.945831), new google.maps.LatLng(39.378663, 22.951996),new google.maps.LatLng(39.374600, 22.958214),new google.maps.LatLng(39.370144, 22.954158),new google.maps.LatLng(39.375347, 22.945831)]
        polyvolosarea5 = new google.maps.Polygon({ paths: volosarea5, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea5.setMap(map);
        var volosarea6 = [new google.maps.LatLng(39.378663, 22.951996), new google.maps.LatLng(39.380760, 22.955896),new google.maps.LatLng(39.384608, 22.952634),new google.maps.LatLng(39.386465, 22.958170),new google.maps.LatLng(39.385470, 22.962505),new google.maps.LatLng(39.380528, 22.965788),new google.maps.LatLng(39.374600, 22.958214),new google.maps.LatLng(39.378663, 22.951996)]
        polyvolosarea6 = new google.maps.Polygon({ paths: volosarea6, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea6.setMap(map);
        var volosarea7 = [new google.maps.LatLng(39.380528, 22.965788), new google.maps.LatLng(39.381689, 22.972204),new google.maps.LatLng(39.373362, 22.972933),new google.maps.LatLng(39.370592, 22.964350),new google.maps.LatLng(39.374600, 22.958214)]
        polyvolosarea7 = new google.maps.Polygon({ paths: volosarea7, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea7.setMap(map);
        var volosarea8 = [new google.maps.LatLng(39.374600, 22.958214), new google.maps.LatLng(39.370592, 22.964350),new google.maps.LatLng(39.365353, 22.969314),new google.maps.LatLng(39.363023, 22.962183),new google.maps.LatLng(39.370144, 22.954158),new google.maps.LatLng(39.374600, 22.958214)]
        polyvolosarea8 = new google.maps.Polygon({ paths: volosarea8, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea8.setMap(map);
        var volosarea9 = [new google.maps.LatLng(39.366627, 22.950639), new google.maps.LatLng(39.370144, 22.954158),new google.maps.LatLng(39.363023, 22.962183),new google.maps.LatLng(39.360371, 22.962407),new google.maps.LatLng(39.366627, 22.950639)]
        polyvolosarea9 = new google.maps.Polygon({ paths: volosarea9, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea9.setMap(map);
        var volosarea10 = [new google.maps.LatLng(39.363023, 22.962183), new google.maps.LatLng(39.365353, 22.969314),new google.maps.LatLng(39.358183, 22.976109),new google.maps.LatLng(39.354719, 22.971543),new google.maps.LatLng(39.363023, 22.962183)]
        polyvolosarea10 = new google.maps.Polygon({ paths: volosarea10, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea10.setMap(map);
        var volosarea11 = [new google.maps.LatLng(39.360371, 22.962407), new google.maps.LatLng(39.363023, 22.962183),new google.maps.LatLng(39.354719, 22.971543),new google.maps.LatLng(39.349522, 22.964693),new google.maps.LatLng(39.360371, 22.962407)]
        polyvolosarea11 = new google.maps.Polygon({ paths: volosarea11, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea11.setMap(map);
        var volosarea12 = [new google.maps.LatLng(39.349522, 22.964693), new google.maps.LatLng(39.360371, 22.962407),new google.maps.LatLng(39.362415, 22.958562),new google.maps.LatLng(39.355487, 22.952778),new google.maps.LatLng(39.349522, 22.964693)]
        polyvolosarea12 = new google.maps.Polygon({ paths: volosarea12, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea12.setMap(map);
        var volosarea13 = [new google.maps.LatLng(39.366627, 22.950639), new google.maps.LatLng(39.359660, 22.944440),new google.maps.LatLng(39.361402, 22.940961),new google.maps.LatLng(39.360691, 22.939063),new google.maps.LatLng(39.367192, 22.935811),new google.maps.LatLng(39.370443, 22.943708),new google.maps.LatLng(39.366627, 22.950639)]
        polyvolosarea13 = new google.maps.Polygon({ paths: volosarea13, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea13.setMap(map);
        var volosarea14 = [new google.maps.LatLng(39.366627, 22.950639), new google.maps.LatLng(39.359660, 22.944440),new google.maps.LatLng(39.355487, 22.952778),new google.maps.LatLng(39.362415, 22.958562),new google.maps.LatLng(39.366627, 22.950639)]
        polyvolosarea14 = new google.maps.Polygon({ paths: volosarea14, strokeColor: '#FF0000', strokeOpacity: 0.8, strokeWeight: 2, fillColor: '#FF0000', fillOpacity: 0.35});
        polyvolosarea14.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    var regions = '<%= j areas_url %>';

    var areasjson = $(document).ready(function() {
        return $.getJSON(regions, function(json) {
            $.each(json, function(key, value){
                console.log(value);
         });
        });
    });

</script>
</html>
